---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/common/HeroText.astro'
import ContactUs from '~/components/main/Contact.astro'

const metadata = {
  title: 'Sign In',
};
---

<Layout metadata={metadata}>
  <section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
        <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
        Your Company    
      </a>
      <ContactUs
        id="signin-form"
        subtitle="Insert your credentials or connect with below providers"
        inputs={[
          {
            type: 'email',
            name: 'email',
            label: 'Email',
            placeholder: 'name@company.com'
          },
          {
            type: 'password',
            name: 'password',
            label: 'Password',
            placeholder: '••••••••'
          },
        ]}
        disclaimer={{
          label: 'By submitting this form, you agree to our terms and conditions',
        }}
        button="Sign in"
        description="Our support team typically responds within 24 business hours."
      />
    </div>
  </section>
</Layout>