---
import Favicons from '../components/common/Favicons.astro'
import CustomStyles from '../components/common/CustomStyles.astro'
import Metadata from '../components/common/Metadata.astro'
import SiteVerification from '../components/common/SiteVerification.astro'
import Analytics from '../components/common/Analytics.astro'
---
<!doctype html>
<html class="2xl:text-[20px]">
  <head></head>

  <body class="antialiased text-default bg-page tracking-tight">
    <slot />    
  </body>
</html>
